/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1050px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.logo {
		display: block;
	}
	.our-services span {
		margin-bottom: 30px;
		max-width: 345px;
		margin: 0px auto 30px;
		display: block;
	}
	.our-services h3 {
		padding-bottom: 5px;
	}
	.video-right-block {
		margin-top: 30px;
	}
	.video-block h2 {
		padding-left: 0px; 
		text-align: center;
	}
	.portfolio .portf-img a {
		margin-bottom: 40px;
	}
	.portf-img {
		padding-bottom: 0px;
	}
	header li {
		padding: 10px 20px;
	}
}
@media only screen and (max-width: 768px) {
	header menu {
		display: block;
	}
}
@media only screen and (max-width: 675px) {
	.webDesign h2 {
		padding-top: 30px;
	}
	.nav-bar {
		display: block;
		position: absolute;
		z-index: 9;
		top: 10px;
	}
	header menu {
		display: none;
	}
	.slider-block {
		padding: 120px 0px 0px 0px;
	}
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: 110px !important; 
	}
	.bx-wrapper {
		min-height: 600px !important;
	}
}

@media only screen and (max-width: 480px) {
	.logo img{
		width: 60%;
	}
	.slider-block h2 {
		font-size: 100px;
	}
	.blog-bottom .col-xs-6{
		width: 100%
	}
	.blog-bottom button {
		margin-top: 30px;
	}
	header li {
		padding: 10px 10px;
		font-size: 13px;
	}
	footer .social-block .facebook {
		padding: 7px 13px;
	}
	footer .social-block a {
		padding: 7px 11px;
	}
	footer .social-block .google {
		padding: 7px 8px;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}
@media only screen and (min-width: 675px) {
	.nav-bar {
		display: none;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	menu {
		display: block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1368px) {
	
}